## Import libraries

In [52]:
import pandas as pd
from datetime import datetime
from datetime import timedelta
from datetime import timezone

## Get tweet data(TW_TIME is Tweet timestamp)

In [7]:
df = pd.read_csv("tweets_noon_20220427.csv",index_col=0)
print(df.head())

                 TW_NO   USER_NAME                    TW_TIME  \
0  1518974571860623361  Aromaaroro  2022-04-27 00:25:33+00:00
1  1518974084327276544  sakaki1981  2022-04-27 00:23:37+00:00
2  1518974042149031936     uuuuuuu  2022-04-27 00:23:27+00:00
3  1518973908552396800     paatram  2022-04-27 00:22:55+00:00
4  1518973615966138368    tare_lee  2022-04-27 00:21:45+00:00

                                             TW_TEXT  FAV  RT
0  #流星SW #30連以上確定 #ラッキーガチャ　の結果なんと「70連」達成！ガチャ結果をシェ...    0   0
1  #流星SW #30連以上確定 #ラッキーガチャ　の結果なんと「80連」達成！ガチャ結果をシェ...    0   0
2                               俺の中の発癌性物質が正午をお知らせします    0   0
3  #流星SW #30連以上確定 #ラッキーガチャ　の結果なんと「40連」達成！ガチャ結果をシェ...    0   0
4  #流星SW #30連以上確定 #ラッキーガチャ　の結果なんと「60連」達成！ガチャ結果をシェ...    0   0

## Convert TW_TIME(str) to TW_TIME(datetime)

In [68]:
df['TW_TIME'] = pd.to_datetime(df['TW_TIME'])

### Trial and error...(ignore here)

In [72]:
# a = df['TW_TIME'].dt.time
c = datetime(df['TW_TIME'][0].year, df['TW_TIME'][0].month, df['TW_TIME'][0].day,12)
print(c)
print(df['TW_TIME'][0])
print(df['TW_TIME'][0].replace(tzinfo=None)-c)
d = df['TW_TIME'][0].replace(tzinfo=None)-c
print(d.total_seconds())
# print(datetime.time(hour=12))
# print(a[0] - datetime.time(hour=12))
# print(df['TW_TIME'][0].day)
#df['TW_TIME'].dt.strftime('%Y-%m-%d') + datetime.timedelta(hours=12)

2022-04-27 12:00:00
2022-04-27 00:25:33+00:00
-1 days +12:25:33
-41667.0

## Calculate GAP(=TW_TIME - noon) for each tweet

In [86]:
def gap_calculation(x):
    justnoon = datetime(x.year, x.month, x.day,12)
    gap = (x.replace(tzinfo=None) - justnoon).total_seconds()
    return gap

In [87]:
df['GAP'] = df['TW_TIME'].map(gap_calculation)

In [89]:
print(df)

                     TW_NO        USER_NAME                   TW_TIME  \
0      1518974571860623361       Aromaaroro 2022-04-27 00:25:33+00:00
1      1518974084327276544       sakaki1981 2022-04-27 00:23:37+00:00
2      1518974042149031936          uuuuuuu 2022-04-27 00:23:27+00:00
3      1518973908552396800          paatram 2022-04-27 00:22:55+00:00
4      1518973615966138368         tare_lee 2022-04-27 00:21:45+00:00
...                    ...              ...                       ...
14319  1516048171193217025  0Northernforest 2022-04-18 22:37:05+00:00
14320  1516048157435518980   healthcareITSG 2022-04-18 22:37:02+00:00
14321  1516047690823778308  elittle95377500 2022-04-18 22:35:10+00:00
14322  1516047184818741257      mushroom876 2022-04-18 22:33:10+00:00
14323  1516045374058024960       mx13171809 2022-04-18 22:25:58+00:00

                                                 TW_TEXT  FAV  RT      GAP
0      #流星SW #30連以上確定 #ラッキーガチャ　の結果なんと「70連」達成！ガチャ結果をシェ...    0   0 -41667.0
1      #流星SW #30連以上確定 #ラッキーガチャ　の結果なんと「80連」達成！ガチャ結果をシェ...    0   0 -41783.0
2                                   俺の中の発癌性物質が正午をお知らせします    0   0 -41793.0
3      #流星SW #30連以上確定 #ラッキーガチャ　の結果なんと「40連」達成！ガチャ結果をシェ...    0   0 -41825.0
4      #流星SW #30連以上確定 #ラッキーガチャ　の結果なんと「60連」達成！ガチャ結果をシェ...    0   0 -41895.0
...                                                  ...  ...  ..      ...
14319                だいたいですね、悪い話を水曜日正午になんか発表しないですし、この業界。    0   0  38225.0
14320  柿内正午の「プルーストを読む生活」に当てられて10年ぶりにブログで日記を書き始めた（しばらく...    6   1  38222.0
14321  【読書メーターの本のプレゼントに応募しました】 壊れそうな私を、君が救ってくれた。 第5回野...    0   0  38110.0
14322                    明日は初めての当直だ〜！次の日の正午まで仕事です頑張ります💪😇   12   0  37990.0
14323  商業もく亭正午ゆ正午ゆ商業目的　商業目的　商業目的商業目的　商業目的　正午ゆ正午ゆ商業目的商...    0   0  37558.0

[14324 rows x 7 columns]

## Output the result to csv files

In [92]:
df['GAP'].to_csv("tweets_noon_ALL_gap.csv")

In [101]:
df[df['TW_TEXT'].str.contains('正午なう')]['GAP'].to_csv("tweets_noon_NAU_gap.csv")

In [105]:
df[df['TW_TEXT'].str.contains('もう正午')]['GAP'].to_csv("tweets_noon_MOU_gap.csv")
df[df['TW_TEXT'].str.contains('まだ正午')]['GAP'].to_csv("tweets_noon_MADA_gap.csv")
df[df['TW_TEXT'].str.contains('今正午')]['GAP'].to_csv("tweets_noon_IMA_gap.csv")